name: mc-kit

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "5"

x-security-baseline: &security-baseline
  security_opt:
    - no-new-privileges:true
    - apparmor=docker-default
  cap_drop:
    - ALL

services:
  # ---- Minecraft server ----
  minecraft:
    <<: *security-baseline
    image: itzg/minecraft-server:stable
    network_mode: host
    ports:
      - "25565:25565/tcp"
    restart: on-failure
    hostname: minecraft
    tty: true
    stdin_open: true
    volumes:
      - ./data:/data
    env_file:
      - path: .env
        required: true
    environment:
      - EULA=TRUE
      - TYPE=AUTO_CURSEFORGE
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 5s
      retries: 20
    deploy:
      resources:
        limits:
          cpus: '6.0'
          memory: 14G
        reservations:
          cpus: '4.0'
          memory: 12G
    logging: *default-logging

